/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&spidev0>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@1 {
        target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            /* ST7735 device on SPI0 using hardware CS (CE0) */
            st7735: st7735@0 {
                compatible = "fbtft,adafruit18";
                reg = <0>; /* CE0 */
                pinctrl-names = "default";
                spi-max-frequency = <40000000>;
                rotate = <0>;
                buswidth = <8>;
                fps = <50>;
                height = <160>;
                width = <128>;
                reset-gpios = <&gpio 25 1>; /* PIN22 */
                dc-gpios    = <&gpio 24 0>; /* PIN18 */
                debug = <0>;
            };

            /* microSD card on CE1 */
            microsd@1 {
                compatible = "mmc-spi-slot";
                reg = <1>; /* CE1 */
                spi-max-frequency = <25000000>;
                voltage-ranges = <3300 3300>;
                status = "okay";
            };
        };
    };

    __overrides__ {
        green  = <&st7735>,"compatible=fbtft,adafruit18_green";
        speed  = <&st7735>,"spi-max-frequency:0";
        rotate = <&st7735>,"rotate:0";
        fps    = <&st7735>,"fps:0";
        bgr    = <&st7735>,"bgr:0";
    };
};
